<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <p>Hi <%= @user.firstname %>,</p>
    <p>
      Your reservation from from <%= @reservation.starttime %> to <%= @reservation.endtime %> has been canceled.
    </p>
    <p>
    - Organizerish
    </p>
    <h3>Hypotheticorp </h3>
  </body>
</html>