<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <p>Hi <%= @user.firstname %>,</p>
    <p>
      The resource <%= @reservation.resource.name %> was deleted. As a result, your reservation from <%= @reservation.starttime %> to <%= @reservation.endtime %> was also deleted. Please log on to the website to make a new reservation. 
    </p>
    <p>
    - Organizerish
    </p>
    <h3>Hypotheticorp </h3>
  </body>
</html>