<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <p>Hi <%= @user.firstname %>,</p>
    <p>
      The resource for your reservation has been deleted :(.
    </p>
    <p>
    - Organizerish
    </p>
  </body>
</html>