<div class="row">
	<% @permissions.each do |permission| %>
		
	        <div class="col-lg-3 col-md-3">	
				<%= simple_form_for permission,:url => update_permissions_resource_path do |f| %>
		  			<p><%= f.label permission.access %></p>
		  			<p>
		      			<%= f.association :group, as: :check_boxes, :label_method => :name  %>
		  			</p>

					<p>
		    			<%= f.submit %>

		  			</p>
		  	</div>
		 
		<% end %>
	<% end %> 
</div>
